<br><br><br><h1 style="text-align: right" class="threeD"><b><i>Welcome to CarSparc</i></b></h1>

<nav class="navbar navbar-expand bg-dark navbar-dark justify-content-center">

    <ul class="navbar-nav">
        <a class="img_logo" src="assets/Images/large2_new.png" width="70px" height="50px" href="#"></a>
        <li class="nav-item">
            <a class="nav-link" routerLink="/master/home" target="_self">Home</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" routerLink="booking" target="_self">Nearest Bookings</a>
    
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="edit" target="_self">Edit Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="changepwd" target="_self">Change Password</a>
        </li>

        <li class="nav-item">
                <a class="nav-link" routerLink="admin" target="_self">Admin</a>
        </li>

        <li class="nav-item">
                <a class="nav-link" routerLink="" target="_self">LogOut</a>
        </li>

    </ul>
</nav>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->